* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
}

header {
    margin-top: 60px;
}

body {
    background-color: #E0E0DC;
}

#principal  {
    width: 102px;
    height: 89px;
    font-family: "Dancing Script", cursive;
    font-size: 31px;
    text-align: center;
}

.botao {
    display: flex;
    padding: 10px;
    padding-top: -px;
}

h1 {
   font-family: "Whisper", cursive;
   position: absolute;
   padding-top: 90px;
   right: 5%;
   color: black;  
   font-size: 100px; 
   height: 10px;
   font-weight: 50;
   opacity: 0.7;
}
  
  #container {
    position: absolute;
    top: 145px;
    right: 20px;
    font-size: 40px;
    color: black;
    text-shadow: 0px 0px 5px black;
  }


img {
    width: 100%;
    height: 799px;
    background-size: cover;

}

.principal {
    display: flex;
    align-items: center;
    width: 110px;
    height: 100px;
    background-color: #606C38;
    border-radius: 999px;
    margin-top: -34px;
}

a {
    color: #E0E0DC;
    font-family: Trocchi;
    font-size: 40px;
    font-weight: 400;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 217px;
    height: 58px;
    background-color: #606C38;
    padding: 10px;
    margin-left: 45px;
    border-radius: 70px;
    text-decoration: none;
}

.imgss {
    display: flex;
    background-size: cover;
    height:800px;
}

.container {
    position: relative;
    width: 300px;
    position: relative;
    margin: auto; 
}

.imagem {
    width: 100%; 
    display: block; 
}

.texto1 {
    position: absolute;
    left: 20px; 
    color: #fff;  
    font-size: 24px; 
    z-index: 1; 
    height: 80px;
    padding: 80px;
    display: flex;
    align-items: center;
    background-color: #283618;
    margin-top: 400px;
    margin-right: -618px;
    border-radius: 30px;
}

.texto2 {
    position: absolute;
    left: 20px; 
    color: #fff;  
    font-size: 24px; 
    z-index: 1; 
    height: 80px;
    padding: 80px;
    display: flex;
    align-items: center;
    background-color: #283618;
    margin-top: 600px;
    margin-right: -618px;
    border-radius: 30px;
}