* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arimo" sans-serif;
}

body {
    background-color: #E0E0DC;
}

header {
    margin-top: 60px;
}

#principal  {
    width: 102px;
    height: 89px;
    font-family: "Dancing Script", cursive;
    font-size: 31px;
    text-align: center;
}

.botao {
    display: flex;
    padding: 10px;
    padding-top: 10px;
}

h1 {
    font-family: "Trocchi", serif;
    position: absolute;
    background-color: #283618;
    margin-top: 125px;
    display: block;
    padding-right: 180px; 
    color: #FF8719;
    font-weight: 500;
    padding-left: 150px;
    padding-top: 15px;
    font-size: 50px;
 }


.principal {
    display: flex;
    align-items: center;
    width: 110px;
    height: 100px;
    background-color: #606C38;
    border-radius: 999px;
    margin-top: -34px;
}

a {
    color: #E0E0DC;
    font-family: Trocchi;
    font-size: 40px;
    font-weight: 400;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 217px;
    height: 58px;
    background-color: #606C38;
    padding: 10px;
    margin-left: 45px;
    border-radius: 70px;
    text-decoration: none;
}

.principais {
    margin-top: 200px;
    margin-left: 620px;
    font-size: 50px;
}

.Botoes_paises {
    margin-top: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .grid {
    background-color: #606C38;
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    margin-top: 1px;
  }

  .quadrado {
    background-color: #fff;
    width: 350px;
    margin-top: -990px;
    padding: 180px;
    margin-left: 105px;
    height: 450px;
  }

  .escrita {
    font-family: "Trocchi";
    position: absolute;
    margin-left: 130px;
    width: 353px;
    margin-top: -190px;
    padding-right: 20px;
    font-size: large;
}

.brasil {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 190px;
    margin-top: -890px;
}

.brasilnome {
    position: absolute;
    margin-top: -980px;
    margin-left: 235px;
    font-size: 23px;
    font-family: Trocchi;
    font-weight: lighter;
}

  .quadrado2 {
    background-color: #fff;
    width: 350px;
    margin-top: -450px;
    padding: 180px;
    margin-left: 550px;
    height: 450px;
  }

  .escrita2 {
    font-family: "Trocchi";
    position: absolute;
    margin-left: 570px;
    width: 353px;
    margin-top: -190px;
    padding-right: 20px;
    font-size: large;
}

.argentina {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 640px;
    margin-top: -890px;
}

.argentinanome {
    position: absolute;
    margin-top: -980px;
    margin-left: 650px;
    font-size: 23px;
    font-family: Trocchi;
    font-weight: lighter;
}

.quadrado3 {
    background-color: #fff;
    width: 252px;
    margin-top: -450px;
    padding: 180px;
    margin-left: 1000px;
    height: 450px;
}

.mexico {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: -890px;
    margin-left: 1085px;
}

.mexiconome {
    position: absolute;
    margin-top: -980px;
    margin-left: 1125px;
    font-size: 23px;
    font-family: Trocchi;
    font-weight: lighter;
}

.escrita3 {
    font-family: "Trocchi";
    margin-left: 1030px;
    width: 353px;
    margin-top: -190px;
    padding-right: 20px;
    font-size: large;
}